* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {  
  background:  #667eea;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top:10%;
}

.inputBotones {
  display: flex;
  gap: 10px;
}

input {
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
}

input:focus {
  border-color: #7a44b1;
}

button {
  padding: 12px 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

#botonAgregar {
  background-color: #28a752;
}
#tareaMasRapida {
  background-color: #007BFF;
}
#borrarTodo {
  background-color: #ee3b3b;
}


#mensaje {
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

#mostrarTareas {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tarea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 12px 15px;
  border-radius: 25px;
}


.tarea input[type="checkbox"] {
  cursor: pointer;
}

.botonEliminar {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #dc3545;
  cursor: pointer;
  transition: 0.3s;
}

